<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>
<%="Message from cotnroller: #{@controller_message}" %>

<%= link_to("Go to Index",
{:controller => "welcome",
:action => "index",
:id =>10,:random =>"pencho"}) %>